<div class="row">
    <div class="input-field col s12">
        <input id="invite_link" type="text" value="{{invite_link}}" room="{{room}}" disabled>
        <label for="invite_link">Link</label>
    </div>
</div>
